name: Build Frontend
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: webui/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: webui/

      - name: Type check
        run: ./node_modules/.bin/vue-tsc --build --force
        working-directory: webui/

      - name: Build
        run: ./node_modules/.bin/vite build
        working-directory: webui/