name: Build Merge
on:
  workflow_call:

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - name: Create folder
        run: mkdir -p src/main/resources/static/

      - name: Move dist to resource
        run: mv webui/dist/* src/main/resources/static/


