name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Build
        run: mvn clean package

      - name: Clean
        run: |
          rm target/*-javadoc.jar
          rm target/*-sources.jar

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: ${{ github.event.inputs.version }}
          make_latest: true
          files: |
            target/*.jar

    permissions:
      contents: write
